<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40">
    <mat-card *ngIf="dish">
        <mat-card-header>
            <mat-card-title>
                <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
            </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{dish.image}}" alt="{{dish.name}}">
        <mat-card-content>
            <p>{{dish.description}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="goBack()">BACK</button>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
    <!-- <p>Display the details of the Dish here</p> -->
  </div>

  <div fxFlex="40">
    <mat-card *ngIf="dish && dish.comments">
        <mat-card-header>
            <mat-card-title>
                <h3>Comments</h3>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content >
            <mat-list>
                <mat-list-item *ngFor="let comment of dish.comments">
                    <p matLine>
                        <span>{{comment.comment}}</span>
                    </p>
                    <p matLine>
                        <span>{{comment.rating}} Stars</span>
                    </p>
                    <p matLine>
                        <span>-- {{comment.author}} {{comment.date | date : "mediumDate"}}</span>
                    </p>
                    <!-- <p matLine>
                        <span>-- {{comment.author}} {{comment.date | date : "MMM d, y"}}</span>
                    </p> -->
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>  
    <!-- <p>Display the list of comments here</p> -->
  </div>

</div>

<!-- <p>dishdetail works!</p> -->
